header {
    background-color: black;
}

li{
    list-style: none;
}

a {
    text-decoration: none !important;
}

body {
    background-color: #EAEAEA;
}

img {
    margin-bottom: 5px;
}

.logoContainer{
    padding-left: 8px;
    width: 33%;
    display: inline-block;

}

.logo{
    
    height: 50px;
    padding-left: 8px;
    color: white;
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
    font-style: italic;
    font-size: 2.25em;
}

.menuContainer{
    
    display: inline-block;
    width: 66%;
}

.menu{
    display: inline-block;
    margin: 0 auto;
    padding: 15px;
    width: 15%;
    color: white;
}

.heroContainer{
    margin: 0 auto;
    padding: 10px;
}

.heroTop{
    margin-top: 20px;
    vertical-align: top;
}

.heroCenter{
    width: 50%;
    height: 95%;
    display: inline-block;
    vertical-align: top;
}

.heroRight{
    width: 24%;
    height: 95%;
    display: inline-block;
    vertical-align: top;
}

.artL{

    width: 33%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;

}

.artC{
    height: 95%;
/*    margin: 0 auto;*/
    padding: 10px;
    display: block;
    vertical-align: top;

}

.artR{
    height: 23%;
/*    margin: 0 auto;*/
    padding: 10px;
    display: block;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}


.avatarLeft {
    width: 96%;
    display: block;
    /*width: 288px;*/
    /*height: 162px;*/

}

.avatarCenter {
    width: 95%;
    display: block;
    /*width: 640px;*/
    /*height: 360px;*/
}

.avatarRight {
    width: 35%;
    height: 95%;
    display: inline-block;
    vertical-align: top;
    /*width: 78px;*/
    /*height: 78px;*/
}

#icon-s {
    width: 95%;
    display: block;
    
}

.artInfo-s{
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.publish {
	margin: 0 auto;
	padding: 10px;
    width: 80%;
	text-align: center;
}

.fa {
    padding-left: 15px;
}